body {
  background-color: #32B1BE;
}

div#topWrapper {
  position: fixed;
  width: 100%;
  top: 10px;
}

div#bottomWrapper {
  position: fixed;
  width: 100%;
  bottom: 50px;
}

img#birthdayImage {
  max-width: 500px;
  max-height: 500px;
}

img, button#flip {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#birthdayImageWrapper {
  width: 100%;
  height: 700px;
  position: fixed;
  top: 150px;
}

button {
  color: black;
  font-family: Bradley Hand ITC;
  font-weight: bold;
}